<p id="notice"><%= notice %></p>

<p>
  <strong>Court name:</strong>
  <%= @court_name.court_name %>
</p>

<%= link_to 'Edit', edit_court_name_path(@court_name) %> |
<%= link_to 'Back', court_names_path %>
