<div class="p-5 mt-5 container-center" id="home-container">
 
  <h1 class="display-4"></h1>
  <div class="logo"> <img src="https://services.ecourts.gov.in/ecourtindia_v4_bilingual/images/ecourts-logo.png" alt=""> </div>
  <div class="text-center mt-4 name"> E-COURTS </div>
  <div class="mt-5 text-center">
  <%= link_to "Sign up!", class: "btn btn-success btn-lg" %>
  </div>
</div>
